*, *::before, *::after { box-sizing: border-box; }

html {
  min-width: 320px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Segoe UI", "Open Sans", sans-serif;
  font-size: 0.8em;

  display: flex;
  flex-direction: column;
}

/* Title bar */
header {
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 0.7em;
  cursor: default;
}

header img {
  padding-right: 0.2em;
  vertical-align: sub;
}

header h1 {
  font-family: inherit;
  font-size: 0.76rem;
  font-weight: 400;
  display: inline;
}

.menu {
  margin-top: -1em;
  margin-left: -2.5em;
  padding-bottom: 0.2em;
}

.menu ul {
  list-style: none;
  cursor: default;
  position: relative;
  top: 2px;
}

.menu li {
  float: left;
  margin-right: 0.2rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  border: 1px solid transparent;
  font-size: 0.76rem;
}

.menu .border {
  width: 100%;
  clear: left;
  position: relative;
  top: 0.2em;
}
.menu .border#primary { height: 1px; }
.menu .border#secondary { height: 2px; }

textarea {
  padding-top: 0.1em;
  padding-left: 0.4em;
  width: inherit;
  height: inherit;
  resize: none;
  border: none;
  font-family: "Consolas", "Lucida Console", monospace;
  font-size: 15px;
  line-height: 1.25;
  overflow-y: scroll;
}
textarea:focus { outline: none; }

#area-edit {
  margin-top: -3px;
  width: 100%;
  height: 91vh;
  margin-right: auto;
  margin-left: auto;

  flex: 1;
}

/* Disable textarea's inherent word wrapping */
textarea.no-word-wrap {
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
}

/* Decrease the textarea height when the status bar is enabled */
#area-edit.has-status-bar { height: 87.7vh; }

/* Status bar */
#area-status-bar {
  width: 100%;
  height: 1.75em;

  background-color: #F0F0F0;
  outline: 1px solid #D7D7D7;
  display: none;
}
#area-status-bar.visible { display: flex; }

#area-status-bar > .text {
  padding-top: 0.2em;
  padding-left: 1em;
}
#area-status-bar > div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  flex-basis: 76%;
}

.menu-context {
  top: 3.8em;
  margin-left: 5em;
  width: 10.5em;
  min-height: 1.1em;
  padding-top: 0.1em;
  padding-bottom: 0.3em;
  position: absolute;
  display: none;

  box-shadow: 5px 5px 2px -3px #b5a5a5;
  line-height: 1.42;
}
.menu-context.visible { display: block; }

.menu-context .area-check {
  float: left;
  width: 19%;
  margin-right: 0.3em;
}
.menu-context .area-check input { margin-left: 0.6em; }

.menu-context label {
  display: inline-block;
  padding: 0 0 0.1em 0.2em;
  width: 6.3rem;

  border: 1px solid transparent;
  font-size: 0.76rem;
}

.menu-context label.menu-divider { margin-top: 0.1em; }

.menu-context .area-check .blank {
  display: block;
  padding: 0.7em;
}

/* Context menu positions */
.menu-context.file { left: -4.4em; }
.menu-context.edit { left: -2em; }
.menu-context.format { left: 0.6em; }
.menu-context.view { left: 4.8em; }
.menu-context.help { left: 7.7em; }

/* ------- Windows 10 theme ------- */
.win10 .menu .border#secondary { background-color: #f0F0f0; }

/* Navbar */
.win10 .menu li:hover {
  outline: 1px solid #cce8ff;
  background-color: #e5f3ff;
}
.win10 .menu li.active {
  outline: 1px solid #99d1ff;
  background-color: #cce8ff;
}

/* Context menus */
.win10 .menu-context { background-color: #f2f2f2; }
.win10 .menu-context label:hover { background-color: #91c9f7; }
.win10 .menu-context label.menu-divider { border-top: 1px solid rgba(0, 0, 0, 0.1); }

.win10 .menu-context .menu-disabled { color: #976d81; }
.win10 .menu-context .menu-disabled:hover { background-color: #e6e6e6; }

/* Printing stylesheet */
@media print {
  header, .menu { display: none; }
  .menu-context { display: none !important; }
  #area-edit { border-color: transparent !important; }
}
